body {
    font-family: 'Bungee';
    font-size: 10px;
    color: white;
    margin: 0px;
}

.MainContainer {
    display: flex;
    width: 100%;
}

.menu {
    background-color: rgb(46, 59, 128);
    height: 100vh;
    width: 270px;    
}

#admin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#profileInfo {

    display: flex;
    flex-direction: row;
    align-items: center;

}

#profileImg {
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.list p {
    margin-left: 15px;
}

.listItem {

    margin: 15px;

}

.fa {
    font-size: 20px;
    margin-right: 15px;
}

main {
    width: 100%;
}

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: rgb(240, 237, 224);
}

#botonBurger {
    border-style: none;
    color: black;
    font-size: 20px;
    margin-left: 15px;
}

#botonBurger:hover {
    cursor: pointer;
}

.listItem:hover {
    cursor: pointer;
}

.simboloIdioma {
    width: 30px;
    height: 20px;
    margin-left: auto;
    margin-right: 15px;
}

.seleccionIdioma {
    margin-right: 15px;
}

.logout {
    color: black;
}

.titulo {
    color: rgb(46, 59, 128);
    text-align: center;
}